---
layout: default
---

<!-- about.html -->
<div class="post">
  <header class="post-header">
    <h1 class="post-title">
      ICLR 2027 Workshop on  <br>
      <span class="font-weight-bold">Structured Probabilistic Inference & Generative Modeling</span>
    </h1>
  </header>

  <article>


    <br>
    <h4>
      <a href="https://join.slack.com/t/probabilistic-uqc8990/shared_invite/zt-2ywkepovr-t15b2T9dtTH6s8c2kc2TYA" title="Slack" target="_blank"
    rel="noopener noreferrer">
        <!-- style="color: #f08b39;" -->
        <u><i class="fab fa-slack" ></i> <b>Join the SPIGM Slack!</b> <i class="fab fa-slack"></i></u>
      </a>
    </h4>
    
    <!-- <h4>
      <a href="https://forms.gle/oFrpazyy2WKFGFPCA" title="Reviewer" target="_blank"
    rel="noopener noreferrer">
        <u><i class="fas fa-user-edit"></i> <b>Sign up for Reviewer!</b> <i class="fas fa-user-edit"></i></u>
      </a>
    </h4> -->

    <br>

    <div class="clearfix">
      <p>
        <h5><b>Workshop Location: TBA</b> </h5>
        <h5><b>Time: TBA, 2027</b></h5>
        <h5><b>Submission Link: TBA</b></h5>


        
        The workshop focuses on theory, methodology, and application of structured probabilistic inference and generative modeling
        Probabilistic inference addresses the problem of amortization,
        sampling, and integration of complex quantities from graphical models, while generative modeling captures the underlying probability distributions of a dataset.
        Apart from applications in computer vision, natural language processing, and speech recognition, probabilistic inference and generative modeling approaches have also been widely used in natural science domains, including physics, chemistry, molecular biology, and medicine.
        Despite the promising results, probabilistic methods face challenges when applied to highly structured data, which are ubiquitous in real-world settings.
        We aim to bring experts from diverse backgrounds together, from both academia and industry, to discuss the applications and challenges of probabilistic methods, emphasizing challenges in encoding domain knowledge in these settings. We hope to provide a platform that fosters collaboration and discussion in the field of probabilistic methods.

      <!-- <p>We invite researcher in machine learning, control, and dynamical systems to submit their latest works to our workshop. <br> -->
        Topics include but are not limited to (see <strong><a href="/submissions/">Call for Papers</a></strong>
        for more details):</p>
      <ul>
        <li> Generative methods for graphs, 3D, time series, text, video, and other structured modalities, and probabilistic inference in these models for reward fine-tuning, alignment, acceleration, watermarking, etc. </li>
        <li> Scaling and accelerating inference and generative models </li>
        <li> Uncertainty quantification in AI systems </li>
        <li> Sampling and variational inference </li>
        <li> Intersection between probabilistic inference and LLMs, VLMs, VLAs, and foundation models </li>
        <li> Applications in sampling, optimization, decision making, etc </li>
        <li> Applications and practical implementations of existing methods to areas in science </li>
        <li> Empirical analysis comparing different architectures for a given data modality and application </li>
      </ul>
      Similar to last year, we also encourage submissions that explore the relevance of probabilistic inference in the era of foundation models. We welcome submissions that explore the intersection of probabilistic inference and foundation models!
    </div>


    <div class="speakers">
      <h2>Speakers</h2>
      <p class="card-text">To be announced.</p>
    </div>
    <br>


    <!-- <div class="speakers">
      <h2>Confirmed Panelists</h2>

      <div class="grid">

        <div class="grid-item">
          <div class="card hoverable">



            <img src="/assets/resized/kirill-v2-800x800.jpeg"
              srcset="    /assets/resized/kirill-v2-480x480.jpeg 480w,    /assets/resized/kirill-v2-800x800.jpeg 800w, /assets/resized/kirill-v2-1400x1400.jpeg 1400w, /assets/img/kirill-v2.jpeg 1600w">

            <div class="card-body">
              <h2 class="card-title">Kirill Neklyudov</h2>
              <h6 class="card-text">University of Montreal &amp; Mila
                <div class="affiliate">

                  <a href="https://twitter.com/k_neklyudov" title="Twitter" target="_blank" rel="noopener noreferrer"><i
                    class="fab fa-twitter"></i></a>

                  <a href="https://scholar.google.com/citations?user=eOttYWgAAAAJ" title="GooleScholar" target="_blank"
                    rel="noopener noreferrer"><i class="ai ai-google-scholar"></i></a>


                  <a href="https://necludov.github.io/" title="Website" target="_blank" rel="noopener noreferrer"><i
                      class="fas fa-address-card"></i></a>

                </div>
              </h6>
              <p class="card-text"></p>
            </div>
          </div>
        </div>
 
      </div>
    </div>
    <br> -->



    <div class="speakers">
      <h2>Organizers</h2>

      <div class="container">
        <div class="row row-cols-2">

          <div class="card-item col">
            <div class="card">
              <div class="row g-0">
                <div class="card-img col-md-6">
                  <img src="/assets/img/jiajunhe.jpg">
                </div>
                <div class="col-md-6">
                  <div class="card-body">
                    <h4 class="card-title">Jiajun He
                    </h4>
                    <h6 class="card-text"> University of Cambridge
                    </h6>
                    <div class="row ml-1 mr-1 p-0">
                      <div class="website-icon">
                        <div class="icon" data-toggle="tooltip" title="Website">
                          <a href="https://jiajunhe98.github.io/" title="Website" target="_blank" rel="noopener noreferrer"><i
                              class="fas fa-address-card"></i></a>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          

          <div class="card-item col">
            <div class="card">
              <div class="row g-0">
                <div class="card-img col-md-6">

                  <img src="/assets/resized/yuanqi-480x360.jpeg"
                    srcset="/assets/resized/yuanqi-480x360.jpeg 480w, /assets/resized/yuanqi-800x600.jpeg 800w, /assets/resized/yuanqi-1400x1050.jpeg 1400w">
                </div>
                <div class="col-md-6">
                  <div class="card-body">
                    <h4 class="card-title">Yuanqi Du
                    </h4>

                    <h6 class="card-text">MSR NE
                    </h6>

                    <div class="row ml-1 mr-1 p-0">

                      <div class="website-icon">
                        <div class="icon" data-toggle="tooltip" title="Website">
                          <a href="https://yuanqidu.github.io/" title="Website" target="_blank" rel="noopener noreferrer"><i
                              class="fas fa-address-card"></i></a>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="card-item col">
            <div class="card">
              <div class="row g-0">
                <div class="card-img col-md-6">

                  <img src="/assets/img/Luhuan.jpg">

                </div>
                <div class="col-md-6">
                  <div class="card-body">
                    <h4 class="card-title">Luhuan Wu
                    </h4>

                    <h6 class="card-text"> Flatiron Instittue
                    </h6>

                    <div class="row ml-1 mr-1 p-0">

                      <div class="website-icon">
                        <div class="icon" data-toggle="tooltip" title="Website">
                          <a href="https://luhuanwu.github.io/" title="Website" target="_blank"
                            rel="noopener noreferrer"><i class="fas fa-address-card"></i></a>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>



          <div class="card-item col">
            <div class="card">
              <div class="row g-0">
                <div class="card-img col-md-6">
                  <img src="/assets/img/seul.jpeg">
                </div>
                <div class="col-md-6">
                  <div class="card-body">
                    <h4 class="card-title">Seul Lee
                    </h4>
                    <h6 class="card-text"> KAIST
                    </h6>
                    <div class="row ml-1 mr-1 p-0">
                      <div class="website-icon">
                        <div class="icon" data-toggle="tooltip" title="Website">
                          <a href="https://seullee05.github.io/" title="Website" target="_blank" rel="noopener noreferrer"><i
                              class="fas fa-address-card"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          

          <div class="card-item col">
            <div class="card">
              <div class="row g-0">
                <div class="card-img col-md-6">
                  <img src="/assets/img/charlotte.jpg">
                </div>
                <div class="col-md-6">
                  <div class="card-body">
                    <h4 class="card-title"> Charlotte Bunne
                    </h4>
                    <h6 class="card-text"> EPFL
                    </h6>
                    <div class="row ml-1 mr-1 p-0">
                      <div class="website-icon">
                        <div class="icon" data-toggle="tooltip" title="Website">
                          <a href="https://scholar.google.com/citations?user=U80atIAAAAAJ&hl=en" title="Website" target="_blank" rel="noopener noreferrer"><i
                              class="fas fa-address-card"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          
          <div class="card-item col">
            <div class="card">
              <div class="row g-0">
                <div class="card-img col-md-6">
                  <img src="/assets/img/miguel.png">
                </div>
                <div class="col-md-6">
                  <div class="card-body">
                    <h4 class="card-title"> José Miguel Hernández-Lobato
                    </h4>
                    <h6 class="card-text"> University of Cambridge
                    </h6>
                    <div class="row ml-1 mr-1 p-0">
                      <div class="website-icon">
                        <div class="icon" data-toggle="tooltip" title="Website">
                          <a href="https://jmhl.org/" title="Website" target="_blank" rel="noopener noreferrer"><i
                              class="fas fa-address-card"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="card-item col">
            <div class="card">
              <div class="row g-0">
                <div class="card-img col-md-6">
                  <img src="/assets/img/anima.jpeg">
                </div>
                <div class="col-md-6">
                  <div class="card-body">
                    <h4 class="card-title">  Anima Anandkumar
                    </h4>
                    <h6 class="card-text"> Caltech
                    </h6>
                    <div class="row ml-1 mr-1 p-0">
                      <div class="website-icon">
                        <div class="icon" data-toggle="tooltip" title="Website">
                          <a href="http://tensorlab.cms.caltech.edu/users/anima/" title="Website" target="_blank" rel="noopener noreferrer"><i
                              class="fas fa-address-card"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          

        </div>
      </div>
    </div>
    <br>

    <!-- <h2>Sponsors</h2>
    <img src="/assets/img/thumbnail_basis-logo.png" width="25%" >
    <img src="/assets/img/Genesis-logo.jpg" width="37%" >
    <img src="/assets/img/genai.png" width="30%" >
    <br><br><br> -->

    <!-- todo  -->
    <!-- <h3 class="post-title"><span class="font-weight-bold">Questions</span></h3> 
    Contact us at
    <a href="mailto:spigmworkshop2024@gmail.com" target="_blank">spigmworkshop2024@gmail.com</a>. -->

  </article>

</div>
